/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO E FONTE */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b1f14;
  color: #e6f4ea;
  text-align: center;
}

/* HEADER */
header {
  background-color: #145a32;
  padding: 30px 15px;
}

/* TÍTULO MAIOR */
header h1 {
  font-size: 34px;
  font-weight: bold;
}

/* CONTEÚDO */
main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

/* TEXTO */
p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* GALERIA */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

/* IMAGENS */
.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.03);
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 15px;
  background-color: #145a32;
}
